@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Çıkış Yap</a>
    }
}
else
{

    @Html.ActionLink("Kayıt Ol", "Register", "Account", new { id = "registerLink" }, new { @class = "dropdown-item" })
    @Html.ActionLink("Giriş Yap", "Login", "Account", new { id = "loginLink" }, new { @class = "dropdown-item" })
}
