@model E_Ticaret_4Son.Models.Kategoriler

@{
    ViewBag.Title = "Sil";
}

<h2>Delete</h2>

<h3>Bunu Silmek İstediğinizden Eminmisiniz?</h3>
<div>
    <h4>Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdı)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Listeye Dön", "Index", "", new { @class = "btn btn-warning" })
        </div>
    }
</div>

